.bisnes{
  margin-bottom: 231px;
  .bisnes__titles{
    margin-top: 8px;
    margin-bottom: 70px;
    align-items: center;
    h1{
      font-size: 44px;
      font-weight: 700;
      line-height: 80px;
      font-family: 'Poppins';
    }
    p{
      color: #464646;
      font-size: 18px;
      line-height: 30px;
      margin-right: 30px;
    }
  }
  .bisnes__cards{
    transition: .5s;
    .bisnes__card:nth-child(2){
      .bisnes__card-1{
      background-color: #FFF7CA;
      }
    }
    .bisnes__card:nth-child(3){
          .bisnes__card-1{
            background-color: #FFE9E0;
          }
        }
    .bisnes__card{
      padding: 20px 30px;
      border-radius: 20px;
      transition: .5s;
      .bisnes__card-1{
        width: 80px;
        height: 80px;
        background-color: #DBFFE9;
        border-radius: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .bisnes__card__text{
        h2{
          color: #021D1A;
          font-size: 24px;
          margin-bottom: 34px;
        }
        p{
          color: #464646;
          font-size: 18px;
          line-height: 30px;
          margin-bottom: 28px;
        }
      }
      .bisnes__card--btns{
        transition: .5s;
        display: inline-block;
        padding: 18px 0;
        .bisnes__card--btn {
          display: flex;
          background: none;
          border: none;
          font-weight: 600;
          font-size: 18px;
          color: #124F48;
        }
      }
    }
    .bisnes__card:hover{
      box-shadow: 1px 1px 22px 0 rgba(239,227,227,0.75);
      transition: .5s;
      .bisnes__card--btns{
        transition: .5s;
        display: inline-block;
        background-color: #FF823B;
        padding: 18px 39px;
        border-radius: 31.5px;
        border: none;
        .bisnes__card--btn{
          p{
            color: #fff;
            font-weight: 700;
          }
          span{
            color: #fff;
          }
        }
      }
    }
    //.bisnes__card:nth-child(2){
    //  img{
    //    border: 24px solid #FFF7CA!important;
    //    border-radius: 20px;
    //    margin-bottom: 30px;
    //  }
    //}
  }
}